* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-family: 'Palanquin', sans-serif;
    font-size: calc(10pt + 4vw);
    font-weight: bold;
}

h2 {
    font-family: 'Palanquin', sans-serif;
    font-size: calc(10pt + 1.2vw);
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    margin: 32px 400px;
    padding: 24px;
    color: black;
    width: auto;

}

/* Colors */

.color-boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.orange {
    background-color: #CC5933;
    margin: 24px;
    padding: 24px;
    width: 320px;
}

.grey {
    background-color: #EFEFF4;
    margin: 24px;
    padding: 24px;
    width: 320px;
}

.blue {
    background-color: #33A6CC;
    margin: 24px;
    padding: 24px;
    width: 320px;
}

/* Fonts */

.font-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.font-boxes > div {
    margin: 24px;
    padding: 24px;
    width: 420px;
}

.oswald {
    font-family: "Oswald", sans-serif;
}

.sevenhundred {
    font-weight: 700;
}

.lighter {
    font-weight: lighter;
}

.palanquin {
    font-family: "Palanquin", sans-serif;
}

.regular {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.threehundred {
    font-weight: 300;
}

/* Text Styles*/

.text-boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

.h1 {
    text-align: left;
    margin: 24px;
    padding: 24px;
    width: 460px;
}

.h2 {
    text-align: left;
    margin: 24px;
    padding: 24px;
    width: 460px;
}

.h3 {
    text-align: left;
    margin: 24px;
    padding: 24px;
    width: 460px;
}

.p {
    text-align: left;
    margin: 24px;
    padding: 24px;
    width: 460px;
}

.logo-rb {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin: 24px;
    padding: 24px;
    width: 460px;
}

.logo-concreteworks {
    font-family: "Oswald", sans-serif;
    font-weight: lighter;
    font-size: 24px;
    text-align: left;
    margin: 24px;
    padding: 24px;
    width: 460px;
}

li {
    font-family: "Palanquin", sans-serif;
    font-weight: normal;
    font-size: 16px;
}